{
"liveHIT":"no",
"title":"some title",
"description":"The experiment will last 10 minutes. You will be paid 1.5 dollars",
"experimentURL":"https://zen-shannon-121b68.netlify.com/",
"keywords":"language research tuebingen fun cognitive science university",
"USonly?":"no",
"minPercentPreviousHITsApproved":"0",
"minNumPreviousHITsApproved": "0",
"frameheight":"650",
"reward":"1.50",
"numberofassignments":"20",
"assignmentsperhit": "9",
"assignmentduration":"1800",
"hitlifetime":"2592000",
"autoapprovaldelay":"60000",
"doesNotHaveQualification": "none"
}
