{
"liveHIT":"no",
"title":"Watch a story and evaluate sentences",
"description":"The experiment will last 20 minutes. You will be paid 3 dollars",
"experimentURL":"https://experiment-before.netlify.com//mturk-rating/mturktvjt",
"keywords":"language research tuebingen fun cognitive science university",
"USonly?":"yes",
"minPercentPreviousHITsApproved":"95",
"minNumPreviousHITsApproved": "1000",
"frameheight":"650",
"reward":"3.00",
"numberofassignments":"80",
"assignmentsperhit": "9",
"assignmentduration":"2800",
"hitlifetime":"2592000",
"autoapprovaldelay":"60000",
"doesNotHaveQualification": "none"
}
