{
"liveHIT":"no",
"title":"Watch a story and evaluate sentences",
"description":"The experiment will last 15 minutes. You will be paid 2.5 dollars",
"experimentURL":"https://language-experiment.netlify.com/mturk-rating/mturktvjt",
"keywords":"language research tuebingen fun cognitive science university",
"USonly?":"no",
"minPercentPreviousHITsApproved":"0",
"minNumPreviousHITsApproved": "0",
"frameheight":"650",
"reward":"2.50",
"numberofassignments":"9",
"assignmentsperhit": "9",
"assignmentduration":"1800",
"hitlifetime":"2592000",
"autoapprovaldelay":"60000",
"doesNotHaveQualification": "none"
}
